.template-home .row > main,
.template-article .row > main {
  max-width: 910px;       /* override default 50rem cap */
}

h2 {
  margin-top: 2.5rem;
}

h3 {
  margin-top: 2rem;
}

h4 {
  margin-top: 1.2rem;
}